---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Error from "../components/404.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Privacy Polciy | Lollipop Movers - Moving out is a child's play for us!"
>
  <Header />
  <main>
		<Error />
  </main>
  <Footer />
</Layout>

<style></style>
