---
import { Image } from "astro:assets"
import Illustration from "/src/images/cta-illustration.svg"
---
<section class="relative overflow-hidden">
  <div class="hidden lg:block absolute top-0 left-1/2 -translate-x-1/2 -mt-8 pointer-events-none" aria-hidden="true">
		<Image src={Illustration} class="max-w-none opacity-80" width="1440" height="440" alt="Features 01 Illustration" />
	</div>
	<div class="mx-auto px-4 sm:px-6 bg-slate-700">
		<div class="relative py-12 md:py-20 z-10">
			<div class="max-w-3xl mx-auto text-center pb-12">
				<h2 class="h2 font-hkgrotesk text-white">Moving out is a child's play</h2>
				<p class="mt-8 text-slate-300">Ask for a free quote and we will come back to you in less than 24 hours.</p>
			</div>
			<div class="text-center select-none">
				<div class="max-w-xs mx-auto sm:max-w-none sm:inline-flex sm:justify-center space-y-4 sm:space-y-0 sm:space-x-4">
					<div>
						<a class="btn bg-aquamarine-400 hover:bg-aquamarine-500 text-white w-full shadow-sm group" href="#">
							Get A Free Quote&nbsp;
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
								<path strokeLinecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>