<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="pb-12 md:pb-20">
				<h2 class="h2 font-hkgrotesk text-slate-800">FAQs</h2>
			</div>
			<div class="md:flex md:space-x-12 space-y-8 md:space-y-0">
				<div class="w-full md:w-1/2 space-y-8">
					<div class="space-y-2">
						<h4 class="text-xl font-hkgrotesk font-medium text-slate-700">What services do you provide?</h4>
						<p class="text-slate-500">
	We provide a variety of services including packing and unpacking, loading, unloading and transportation. We also offer moving services for office and commercial spaces.
						</p>
					</div>
					<div class="space-y-2">
						<h4 class="text-xl font-hkgrotesk font-medium text-slate-700">How much do you charge?</h4>
						<p class="text-slate-500">We can do your move for €80 per hour, for 2 movers and 20 m<sup>3</sup> van, if paid by cash.</p>
						<p class="text-slate-500">The price includes packing materials for protection of your goods, disassembly and assembly of your furniture, if you want it done by us. We start counting our time from our base in <a href="#" class="text-hot-pink-400 hover:text-hot-pink-500 font-bold transition duration-150 ease-in-out">Amsterdam-Zuidoost (klokkenbergweg 35)</a> until we get back.</p>
						<p class="text-slate-500">The minimum amount of time you can hire us for is 3 hours (€240).</p>
					</div>
				</div>
				<div class="w-full md:w-1/2 space-y-8">
					<div class="space-y-2">
						<h4 class="text-xl font-hkgrotesk font-medium text-slate-700">When should I make a booking?</h4>
						<p class="text-slate-500">
	It's recommended to book us at least one week before your moving date to ensure availability. However, if you're in a hurry, we can accommodate you on short notice.
						</p>
					</div>
					<div class="space-y-2">
						<h4 class="text-xl font-hkgrotesk font-medium text-slate-700">What should I do to prepare for the move?</h4>
						<p class="text-slate-500">
	Before the move, you should declutter and dispose of any items you no longer need or want to avoid paying to move them. You should also create an inventory of your belongings and inform us of any special requirements or fragile items.
						</p>
					</div>
					<div class="space-y-2">
						<h4 class="text-xl font-hkgrotesk font-medium text-slate-700">How can I ensure a smooth moving process?</h4>
						<p class="text-slate-500">
	To ensure a smooth moving process, you should be available on the moving day to answer any questions and oversee the process. Additionally, make sure to double-check your inventory and inspect your belongings upon arrival at your new home to ensure everything arrived in good condition.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>