---
import Gallery from './gallery/carousel'
---
<section class="relative overflow-hidden">
	<div class="absolute top-0 left-0 -translate-x-[10%] bg-gradient-to-r from-white to-transparent h-full w-1/5 z-10 lg:block hidden">
	</div>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<Gallery client:load />
		</div>	
	</div>
	<div class="absolute top-0 right-0 translate-x-[10%] bg-gradient-to-l from-white to-transparent h-full w-1/5 z-10 lg:block hidden">
	</div>
</section>