<header class="absolute w-full z-30">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="flex items-center justify-between h-16 md:h-20">
			<div class="shrink-0 mr-4">
				<a class="block" href="/" aria-label="Cruip">
					<svg class="w-8 h-8" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
						<defs>
							<linearGradient x1="0%" y1="32.443%" x2="104.18%" y2="50%" id="hlogo-a">
								<stop stop-color="#FFF" stop-opacity=".299" offset="0%"></stop>
								<stop stop-color="#7587E4" stop-opacity="0" offset="100%"
								></stop>
							</linearGradient>
							<linearGradient x1="18.591%" y1="0%" x2="100%" y2="100%" id="hlogo-b">
								<stop stop-color="#ffa1d3" offset="0%"></stop>
								<stop stop-color="#ffcbe8" offset="100%"></stop>
							</linearGradient>
						</defs>
						<g fill="none" fill-rule="evenodd">
							<path fill="#fa3a95" d="M16 18.5V32l15.999-9.25V9.25z"></path>
							<path fill="#ff69b4" d="m0 23 16 9V18.501L0 9.251z"></path>
							<path
								fill-opacity=".64"
								fill="url(#hlogo-a)"
								d="M16 13 0 23l16 9 16-9z"></path>
							<path fill="url(#hlogo-b)" d="M16 0 0 9.25l16 9.25 15.999-9.25z"
							></path>
						</g>
					</svg>
				</a>
			</div>
			<nav class="flex grow">
				<ul class="flex grow justify-end flex-wrap items-center">
					<li>
						<a class="font-medium text-aquamarine-700 hover:text-aquamarine-700 px-3 lg:px-5 py-2 flex items-center transition duration-150 ease-in-out" href="mailto:info@lollipopmovers.nl">Email</a>
					</li>
					<li class="ml-3">
						<a class="btn-sm text-aquamarine-600 bg-white hover:bg-slate-100 w-full group font-semibold" href="tel:+31685497713">
							Call Us
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 tracking-normal text-aquamarine-600 group-hover:translate-x-0.5 transition-transform duration-150 ease-in-out ml-1" >
								<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
							</svg>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
