---
import { Image } from 'astro:assets';
import Candy from '../../public/images/candy.png';
import HeroRight from '../../public/images/hero-right.png';
import Step from './form/Step';
---
<section class="relative bg-aquamarine-300">
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="pt-32">
			<div class="max-w-3xl mx-auto text-center">
				<h1
					class="h1 font-hkgrotesk mb-12 text-slate-800"
					data-aos="fade-up"
				>
					Lollipop Movers
				</h1>
				<div class="min-h-[420px] pb-24">
					<Step client:load />
				</div>
			</div>
		</div>
	</div>
	<div
		class="hidden lg:block absolute -bottom-16 right-3/4 pl-8"
		data-aos="fade-up"
		data-aos-delay="300"
	>
		<Image class="mx-auto" src={Candy} width="920" height="518" alt="Hero" />
	</div>
	<div
		class="hidden lg:block absolute -bottom-16 left-2/3 pr-8"
		data-aos="fade-up"
		data-aos-delay="300"
	>
		<Image
			class="mx-auto"
			src={HeroRight}
			width="920"
			height="518"
			alt="Hero"
		/>
	</div>
</section>
