---
import "@fontsource-variable/inter/";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-inter flex flex-col min-h-screen overflow-hidden">
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "HK Grotesk";
		font-weight: 700;
		font-style: normal;
		font-display: fallback;
		src:
			url("/fonts/HKGrotesk-Bold.woff2") format("woff2"),
			url("/fonts/HKGrotesk-Bold.woff") format("woff");
	}

	@font-face {
		font-family: "HK Grotesk";
		font-weight: 800;
		font-style: normal;
		font-display: fallback;
		src:
			url("/fonts/HKGrotesk-ExtraBold.woff2") format("woff2"),
			url("/fonts/HKGrotesk-ExtraBold.woff") format("woff");
	}

	@font-face {
		font-family: "HK Grotesk";
		font-weight: 500;
		font-style: normal;
		font-display: fallback;
		src:
			url("/fonts/HKGrotesk-Medium.woff2") format("woff2"),
			url("/fonts/HKGrotesk-Medium.woff") format("woff");
	}
	/* Typography */
	.h1 {
		@apply text-6xl font-extrabold;
	}

	.h2 {
		@apply text-5xl font-extrabold;
	}

	.h3 {
		@apply text-4xl font-extrabold;
	}

	.h4 {
		@apply text-3xl font-extrabold;
	}

	@screen md {
		.h1 {
			@apply text-7xl;
		}

		.h2 {
			@apply text-6xl;
		}
	}
	.btn,
	.btn-sm {
		@apply font-medium inline-flex items-center justify-center border border-transparent rounded-full leading-snug transition duration-150 ease-in-out;
	}

	.btn {
		@apply px-6 py-3;
	}

	.btn-sm {
		@apply px-4 py-2;
	}
	/* Forms */
	input[type="search"]::-webkit-search-decoration,
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-results-button,
	input[type="search"]::-webkit-search-results-decoration {
		-webkit-appearance: none;
	}

	.form-input,
	.form-textarea,
	.form-multiselect,
	.form-select,
	.form-checkbox,
	.form-radio {
		@apply bg-white border-2 border-aquamarine-500 focus:border-aquamarine-500;
	}

	.form-input,
	.form-textarea,
	.form-multiselect,
	.form-select,
	.form-checkbox {
		@apply rounded-full;
	}

	.form-input,
	.form-textarea,
	.form-multiselect,
	.form-select {
		@apply py-3 px-4;
	}

	.form-input,
	.form-textarea {
		@apply placeholder-slate-500 leading-snug;
	}

	.form-select {
		@apply pr-10;
	}

	.form-checkbox,
	.form-radio {
		@apply text-pink-600 rounded-sm;
	}

	.form-input:focus,
	.form-textarea:focus,
	.form-multiselect:focus,
	.form-select:focus,
	.form-checkbox:focus,
	.form-radio:focus {
		@apply outline-none placeholder-slate-300;
	}
</style>
